* {
    box-sizing: border-box;
}
.dashboard-container{
    background-color: #F2F5FA;
    font-family: 'Inter', sans-serif;
    height: auto;
    
}

.dashboard-container > div.dashboard-header {
    
    color: #222;
   
    font-size: 30px;
    
     
    
}
.dashboard-content {
    display: grid;
    grid-template-areas: 
        "activeclients duesClients clients"
        "undelieveredPolicy deliveredPolicy clients"
        "recentPolicies recentPolicies clientChart";
   
    gap: 10px;     
    
   
    
}

.dashboard-content > div {
    
    padding: 10px;
    
}

.dashboard-content > div.active-clients {
    background-color: white;
    grid-area: activeclients;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    

}

.dashboard-content > div.due-clients {
    background-color: white;
    grid-area: duesClients;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   
}

.dashboard-content > div.clients-list {
    background-color: white;
    grid-area: clients;
    height: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-content > div.undelivered-policy {
    background-color: white;
    grid-area: undelieveredPolicy;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-content > div.delivered-policy {
    background-color: white;
    grid-area: deliveredPolicy;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.dashboard-content > div.recent-policy {
    background-color: white;
    grid-area: recentPolicies;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-content > div.monthly-data {
    background-color: white;
    grid-area: clientChart;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1024px)  {
  
    .dashboard-container > div.dashboard-content {
        
        height: 90vh !important;
    }

}
