* {
    box-sizing: border-box;
}

.dashboard-container > div.dashboard-header {
    
    color: #222;
    padding: 10px 5px 0px;  
    font-size: 25px;
    align-items: center;
    
}
.dashboard-content {
    display: grid;
    grid-template-areas: 
        "activeclients duesClients clients"
        "undelieveredPolicy deliveredPolicy clients"
        "recentPolicies recentPolicies clientChart";

    gap: 10px;     
    padding: 0px 10px 10px;
   
    
}

.dashboard-content > div {
    
    padding: 10px;
    
}

.dashboard-content > div.active-clients {
    background-color: lightgray;
    grid-area: activeclients;
    

}

.dashboard-content > div.due-clients {
    background-color: lightgray;
    grid-area: duesClients;
   
}

.dashboard-content > div.clients-list {
    background-color: lightgray;
    grid-area: clients;
    height: 100%;
}

.dashboard-content > div.undelivered-policy {
    background-color: lightgray;
    grid-area: undelieveredPolicy;
}

.dashboard-content > div.delivered-policy {
    background-color: lightgray;
    grid-area: deliveredPolicy;
}
.dashboard-content > div.recent-policy {
    background-color: lightgray;
    grid-area: recentPolicies;
}

.dashboard-content > div.monthly-data {
    background-color: lightgray;
    grid-area: clientChart;
}

@media screen and (max-height: 600px) {
  
    .dashboard-content > div {
        
        height: 250px;
    }

}