* {
    box-sizing: border-box;
}
.Due-container{
    background-color: #F2F5FA;
    font-family: 'Inter', sans-serif;
    margin-left: 200px;
}

.Due-container > div.Due-header {
    
    color: #222;
    font-size: 30px;
    align-items: center;
    
}

.Due-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 1490px;
    height: 200px;
    
}
.Due-total{
    padding: 20px;
    background-color: white;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.Due-total > p {
    text-align: center;
    font-size: 20px;
}







