html {
  scroll-behavior: smooth; /* Smooth scrolling */
}

.landing-page-container {
  display: flex;
  flex-direction: column;
}

/* Hero */
.landing-page-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a5ca9;
  padding: 60px 40px;
  flex-wrap: wrap;
}

.welcome-message h1 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  max-width: 400px;
}

.img-container {
  flex-shrink: 0;
}

.car {
  max-width: 450px;
  width: 100%;
  height: auto;
}

/* Section styles */
.section {
  padding: 80px 20px;
  text-align: center;
}

.section.alt {
  background-color: #f3f4f6;
}