* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    background-color: #9B72C0;
    color : silver;
    margin: 0;
    
  }
  
  .container {
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  
  .login-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
  }
  
  .logo-panel {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  
  .logo-panel img {
    max-width: 100%;
    max-height: 180px;
    object-fit: contain;
    margin-bottom: 10px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.1));
  }
  
  .right-panel {
    background-color: #834eb1;
    color: silver;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
  }
  
  .right-panel h2 {
    margin-bottom: 25px;
    font-size: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  button {
    
    padding: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  
  button:hover {
    background-color: #bbb;
  }

  