.main-area {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.body-area {
  display: flex;
  flex: 1;
  height: calc(100vh - 72px);
}

.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  padding: 1rem 0;
}

.content-area {
  flex: 1;
  background-color: #f3f3f3;
  padding: 2rem;
  overflow-y: auto;
}