.main-area {
  display: flex;
  flex-direction: row;
  height: 100vh;
  
}

.main-area .content-area {
    
    width: 100%;
    margin-left: auto;
    background-color: #f3f3f3; 
    margin-left: 130px;
    transition: margin 0.3s ease;
   
}


