.main-area {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-area .content-area {
  
    flex: 5;
    margin-left: 200px; 
    background-color: #f3f3f3; 

    transition: margin 0.3s ease;
}



@media screen and (min-width: 1080px) and (max-width: 2000px) {
  
  .main-area .content-area {
   
    margin-left: 200px; 
  }
  
}

@media screen and (min-height: 300px) and (max-height: 900px) {

  .main-area .content-area {
 
    margin-left: 180px; 
  }
  
}


