.top-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color:#263b6f;
  box-sizing: border-box; 
  width: 100%;

 
 
}

.top-bar-container > .logo-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.nav-links{
    
  display: flex;
  align-items: center;
  gap: 20px;
  
}

.nav-links > a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-left: auto;
  font-family: 'Inter', sans-serif;
}

.nav-links > .nav-link:hover {
  color: #007bff;
}

.logo-container > img {

  width: 300px;
  height: auto;
}

.login-button {
  display: flex;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 40px 0 40px;
  font-family: 'Inter', sans-serif;
  
}

.login-button:hover {
  background-color: purple;
  color: white
}