.top-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8F71B1;
  padding: 0px 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.Name_Company{
  color: white;
  font-weight: 600;
  font-size: 28px; 
  font-family: 'Inter', sans-serif;
}

.logo-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 90px;
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link,
.login-button {
  color: white;
  text-decoration: none;
  font-weight: 500;
   font-size: 20px; 
   font-family: 'Inter', sans-serif;
}

.nav-link:hover,
.login-button:hover {
  text-decoration: underline;
}

/* Hamburger button hidden on desktop */
.hamburger {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #8F71B1;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}