.main-area {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-area .content-area {
  
    flex: 5;
    margin-left: 200px; 
    background-color: #f3f3f3; 
}

@media screen and (max-width: 1920px){
  
  .main-area .content-area {
   
    margin-left: 180px; 
  }
  
}

@media screen and (min-width: 1080px) {
  
  .main-area .content-area {
   
    margin-left: 200px ; 
  }
  
}

@media screen and (max-height: 900px)  {
  
  .main-area .content-area {
   
    margin-left: 180px; 
  }
  
}